<div class="region-container">
  <div class="region-header">
    <h2>Johto Gym Leaders</h2>
    <p>The 8 Gym Leaders of the Johto Region</p>
  </div>
  
  <div class="leaders-list">
    <app-leader-info
      *ngFor="let leader of johtoLeaders"
      [name]="leader.name"
      [age]="leader.age"
      [location]="leader.location"
      [team]="leader.team"
      [badge]="leader.badge"
      [motto]="leader.motto"
      (monologueClick)="onMonologueClick($event)">
    </app-leader-info>
  </div>
</div>